$w: 200px;
$bg1: #1D2124;
$bg2: #454F56;
$hoverBG: #454F56;
$textColor: #FFFFFF;
$textColor2: #BBBBBB;
$selected: #A1C72C;
$greenBG: desaturate($selected, 10);

html {
  overflow: scroll;
}

body {
  margin: 0;
  //background: #fafbfc;
  background-color: #f2f2f2;
  //font-family: Roboto, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {width: 5px;background: 0 0}

::-webkit-scrollbar-button:vertical:end:decrement, ::-webkit-scrollbar-button:vertical:start:increment {display: none}

::-webkit-scrollbar-thumb:vertical {-webkit-box-shadow: inset 3px 0 #fff;box-shadow: inset 3px 0 #fff;background: #00e20f}

::-webkit-scrollbar-thumb:vertical:hover {-webkit-box-shadow: none;box-shadow: none}

.container {
  width: 950px;
  max-width: 1000px;

  .header {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 5px 0px 5px;
    background-image: -webkit-radial-gradient(center center, #454f56, #1d2124);

    .f-left {
      float: left
    }
    .f-right {
      float: right
    }

    .title {
      width: $w;
      margin: 0 auto;
      margin-top: 120px;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      color: White;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      font-family: "Roboto Condensed";

      span:first-child {
        color: $selected;
        //font-size: 1.1em;
      }

    }

    #login {
      width: $w;
      //margin: 0 auto;
      float: right;
      margin-top: 5px;
      margin-right: 5px;
    }

    fieldset {
      border: none;
      padding: 0;
    }

    .alert {
      text-align: center;
      margin-bottom: 5px;
      color: rgb(255, 128, 128);
      text-shadow: 0 0 10px rgb(255, 0, 0);
      margin-left: 0;
    }

    input[type=password], input[type=text], input[type=email] {
      background: #10548C;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid lighten($bg1, 10);
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 0.8em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 200;
      padding: 10px 40px 10px 10px;
      margin-bottom: 10px;
      width: 100%;
    }

    input[type=email], input[type=password] {
      background: lighten($bg2, 10);
    }
    #login fieldset {
      position: relative;
    }
    i {
      content: '\f007';
      //font-family: 'font-awesome';
      font-size: 26px;
      color: lighten($bg2, 20);
      position: absolute;
      right: 12px;
      top: 5px;
      width: 20px;
      height: 20px;
      //color: White;
    }

    input[type=submit] {
      //@include background-image(linear-gradient(#fecf00, #e79700));
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6);
      border: solid 1px $selected;
      color: $bg2;
      font-size: 0.8em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      padding: 8px 30px;
      text-align: center;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);

      &:hover {
        box-shadow: 0 0 5px rgba($selected, 0.8);
      }
      &:active {
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
      }
    }

    input {
      &::-webkit-input-placeholder {
        color: #dbf2ff;
      }
      &:-moz-placeholder {
        color: #dbf2ff;
      }
      &:-ms-input-placeholder {
        color: #dbf2ff;
      }
    }

    label {
      font-size: 0.7em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      position: absolute;
      width: 100px;
      left: 35px;
      top: 10px;
    }

    input[type=checkbox] {
      background: #10548C;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid lighten($bg1, 10);
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
      color: #fff;
      width: 20px;
      height: 20px;
    }

    input:focus {
      border: 1px solid rgba($selected, 0.6);
      box-shadow: 0 0 5px rgba($selected, 0.6);
      outline: none;
    }

  }

  .main {

    div {
      margin: 5px;
    }

    .menu {
      height: 50px;
      display: flex;
      //justify-content: center;
      align-items: center;
      background: #fff;
      font-size: 36px;
      font-family: 'Lobster', cursive;
      justify-content: center;
      text-align: center;
      border: 1px solid #ddd;

      div:hover {
        box-shadow: inset 0 0 0 2px #53ea93;
        transition: 1s;
        background: #fafbfc;
        cursor: pointer;
      }

      .b1 {
        margin: 15px;
        flex: 1;
        i {
          margin-right: 10px;
        }
      }
    }

    .content {
      height: 700px;
      justify-content: center;
      background: #fff;
      border: 1px solid #ddd;

      .music-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 24px;
        font-family: 'Lobster', cursive;
      }

      .music-data {
        height: 600px;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;

        .url-root {
          flex: 0.3;
          background: #fff;

          :focus {outline: none;}
          .col-3 {float: left; width: 33.33%; margin: 10px 1%; position: relative;}
          /* necessary to give position: relative to parent. */
          input[type="text"] {font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
          input[type="submit"] {font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

          .effect-7 {border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}

          .effect-7 ~ .focus-border:before,
          .effect-7 ~ .focus-border:after {content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
          .effect-7 ~ .focus-border:after {top: auto; bottom: 0;}
          .effect-7 ~ .focus-border i:before,
          .effect-7 ~ .focus-border i:after {content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.6s;}
          .effect-7 ~ .focus-border i:after {left: auto; right: 0;}
          .effect-7:focus ~ .focus-border:before,
          .effect-7:focus ~ .focus-border:after {left: 0; width: 100%; transition: 0.4s;}
          .effect-7:focus ~ .focus-border i:before,
          .effect-7:focus ~ .focus-border i:after {top: 0; height: 100%; transition: 0.6s;}
        }

        form {
          display: flex;
          margin: 10px;
        }

        .music-root {
          display: flex;
          background: #fff;
          flex: 4;
          margin-top: 0;

          .music-list {
            flex: 2;
            border-right: 5px solid #f2f2f2;
            margin: 0 5px 0 5px;

            .music-ul {
              display: flex;
              align-items: center;
              height: 50px;
              flex-direction: column;

              .music-li{
                font-size: 18px;
                font-family: 'Lobster', cursive;
                transition: 1.5s;
                list-style-type: none;
                padding: 10px;
              }
            }
          }
          .music-content {
            flex: 3;
            margin: 0 5px 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            .music-block {
              flex-direction: column;
              font-size: 24px;
              font-family: 'Lobster', cursive;

              .music-image {
                background-size: cover;
                overflow: hidden;
                width: 70%;
                display: flex;
                height: 70%;
                margin: 0 auto;

                img {
                  padding: 10px;
                }
              }
              .music-name {
              }
              .music-play {
                display: flex;
                justify-content: center;
                align-items: center;

                audio {
                  //background: #333333;
                  background-color: #1d2124;
                  flex: 1;
                }
              }
            }
          }
        }
      }

      .film-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 24px;
        font-family: 'Lobster', cursive;
      }
      .film-data {
        height: 500px;
        display: flex;
        justify-content: center;
        border: 5px solid #f2f2f2;
      }

      .photo-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 24px;
        font-family: 'Lobster', cursive;
      }
      .photo-data {
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #f2f2f2;

        .url-root {
          flex: 0.3;
          background: #fff;

          :focus {outline: none;}
          .col-3 {float: left; width: 33.33%; margin: 10px 1%; position: relative;}
          /* necessary to give position: relative to parent. */
          input[type="text"] {font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
          input[type="submit"] {font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

          .effect-7 {border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}

          .effect-7 ~ .focus-border:before,
          .effect-7 ~ .focus-border:after {content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
          .effect-7 ~ .focus-border:after {top: auto; bottom: 0;}
          .effect-7 ~ .focus-border i:before,
          .effect-7 ~ .focus-border i:after {content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.6s;}
          .effect-7 ~ .focus-border i:after {left: auto; right: 0;}
          .effect-7:focus ~ .focus-border:before,
          .effect-7:focus ~ .focus-border:after {left: 0; width: 100%; transition: 0.4s;}
          .effect-7:focus ~ .focus-border i:before,
          .effect-7:focus ~ .focus-border i:after {top: 0; height: 100%; transition: 0.6s;}

          form {
            display: flex;
            margin: 10px;
          }
          //
          //input[type=text], select {
          //  width: 100%;
          //  padding: 12px 20px;
          //  margin: 10px 15px;
          //  display: inline-block;
          //  border: 1px solid #ccc;
          //  border-radius: 4px;
          //  box-sizing: border-box;
          //  flex: 5;
          //}
          //
          //input[type=text]:focus {
          //  background-color: gainsboro;
          //}
          //
          //input[type=submit] {
          //  width: 100px;
          //  background-color: darkgray;
          //  color: white;
          //  padding: 14px 20px;
          //  margin: 8px 0;
          //  border: none;
          //  border-radius: 4px;
          //  cursor: pointer;
          //  flex: 1;
          //}
          //
          //input[type=submit]:hover {
          //  background-color: dimgrey;
          //}
        }

        .photo-list {
          flex: 1;
        }

        .photo-root {
          display: flex;
          flex: 4;
          background: #fff;
          margin-top: 0;

          .photo-content {
            display: flex;
            flex: 4;
            background: #fff;
            margin: 0 5px 0 5px;
            border-right: 5px solid #f2f2f2;
          }

          .newSpan {
            background: #333333;
            color: #FFF;
            font-size: 24px;
            font-family: cursive;
          }

          .photo-list {
            flex: 3;
            overflow-x: auto;
            position: relative;

            .photos {
              padding: 0 20px 10px 20px;

              .photo-li {
                font-size: 18px;
                font-family: 'Lobster', cursive;
                transition: 1.5s;
                list-style-type: none;
                padding: 10px;

                .fa-close {
                  display: none;
                  float: right;
                  right: 10px;
                  cursor: pointer;
                }

                .photo-span:hover {
                  border-bottom: 3px solid dimgray;
                  cursor: pointer;
                }
                ///TODO
                .photo-span {
                  font-size: 18px;
                  font-family: 'Lobster', cursive;
                  //border-bottom: 3px solid white;
                }

                .fa-close:hover {
                  transition: all .3s ease-out;
                  transform: rotate(90deg);
                }
              }

              .photo-li:hover .fa-close {
                display: inline-block;
              }

              .photo-li:hover {
                //background: dimgray;
              }
            }
          }
        }

        .photo {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: scroll;

          .photo-size {
            width: 400px;
            //height: 300px;
            position: relative;

            .image {
              width: 100%;
              height: auto;
              border: 5px solid darkgray;
              position: absolute;
              margin: auto;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}


