html {
  overflow: scroll;
}

body {
  margin: 0;
  //background: #fafbfc;
  background-color: #f2f2f2;
  //font-family: Roboto, sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {width: 5px;background: 0 0}

::-webkit-scrollbar-button:vertical:end:decrement, ::-webkit-scrollbar-button:vertical:start:increment {display: none}

::-webkit-scrollbar-thumb:vertical {-webkit-box-shadow: inset 3px 0 #fff;box-shadow: inset 3px 0 #fff;background: #00e20f}

::-webkit-scrollbar-thumb:vertical:hover {-webkit-box-shadow: none;box-shadow: none}

.container {
  display: flex;
  justify-content: center;

  .main {
    width: 950px;
    max-width: 1000px;

    div {
      border: 1px solid #ddd;
      margin: 5px;
    }

    .header {
      height: 100px;
      display: flex;
      justify-content: flex-end;
      background: #fff;
    }

    .menu {
      height: 50px;
      display: flex;
      //justify-content: center;
      align-items: center;
      background: #fff;
      font-size: 36px;
      font-family: 'Lobster', cursive;
      justify-content: center;
      text-align: center;

      div:hover {
        box-shadow: inset 0 0 0 2px #53ea93;
        transition: 1s;
        background: #fafbfc;
        cursor: pointer;
      }

      .b1 {
        margin: 15px;
        flex: 1;
        i {
          margin-right: 10px;
        }
      }
    }

    .content {
      height: 700px;
      justify-content: center;
      background: #fff;

      .music-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
      .music-data {
        height: 500px;
        display: flex;
        justify-content: center;

        .music-list {
          width: 400px;

          .track-list {
            display: flex;
            align-items: center;
            height: 50px;
          }
        }
        .music-content {
          width: 400px;

          .music-image {
            background-size: cover;
            width: 380px; // например
            height: 300px;
            overflow: hidden;
          }
          .music-name {
          }
          .music-play {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 99px;
          }
        }
      }

      .film-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
      .film-data {
        height: 500px;
        display: flex;
        justify-content: center;
      }

      .photo-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
      .photo-data {
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .url-photo {
          flex: 0.3;

          form {
            display: flex;
            margin: 10px;
          }

          input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 10px 15px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            flex: 5;
          }

          input[type=submit] {
            width: 100px;
            background-color: darkgray;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            flex: 1;
          }

          input[type=submit]:hover {
            background-color: dimgrey;
          }

        }

        .photo-list {
          flex: 1;
        }

        .photo-content {
          display: flex;
          flex: 3;

          .photo-list {
            flex: 1;
          }

          .photo-li{
            font-size: 20px;
            font-family: 'Lobster', cursive;
            margin: 10px;
          }

          .photo {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
              .photo-size{
                 border: 1px solid #DDDDDD;
                 width: 350px;
                 height: 350px;
                position: relative;



                .image {
                  width:100%;
                  height:auto;
                  border: 5px solid darkgray;
                  position: absolute;
                  margin: auto;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                }
              }
          }
        }
      }
    }
  }
}

