html {
  overflow: scroll; }

body {
  margin: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  display: flex;
  justify-content: center; }

::-webkit-scrollbar {
  width: 5px;
  background: 0 0; }

::-webkit-scrollbar-button:vertical:end:decrement, ::-webkit-scrollbar-button:vertical:start:increment {
  display: none; }

::-webkit-scrollbar-thumb:vertical {
  -webkit-box-shadow: inset 3px 0 #fff;
  box-shadow: inset 3px 0 #fff;
  background: #00e20f; }

::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

.container {
  width: 950px;
  max-width: 1000px; }
  .container .header {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 5px 0px 5px;
    background-image: -webkit-radial-gradient(center center, #454f56, #1d2124); }
    .container .header .f-left {
      float: left; }
    .container .header .f-right {
      float: right; }
    .container .header .title {
      width: 200px;
      margin: 0 auto;
      margin-top: 120px;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      color: White;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      font-family: "Roboto Condensed"; }
      .container .header .title span:first-child {
        color: #A1C72C; }
    .container .header #login {
      width: 200px;
      float: right;
      margin-top: 5px;
      margin-right: 5px; }
    .container .header fieldset {
      border: none;
      padding: 0; }
    .container .header .alert {
      text-align: center;
      margin-bottom: 5px;
      color: #ff8080;
      text-shadow: 0 0 10px red;
      margin-left: 0; }
    .container .header input[type=password], .container .header input[type=text], .container .header input[type=email] {
      background: #10548C;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #343b40;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 0.8em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 200;
      padding: 10px 40px 10px 10px;
      margin-bottom: 10px;
      width: 100%; }
    .container .header input[type=email], .container .header input[type=password] {
      background: #5c6972; }
    .container .header #login fieldset {
      position: relative; }
    .container .header i {
      content: '\f007';
      font-size: 26px;
      color: #73838e;
      position: absolute;
      right: 12px;
      top: 5px;
      width: 20px;
      height: 20px; }
    .container .header input[type=submit] {
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6);
      border: solid 1px #A1C72C;
      color: #454F56;
      font-size: 0.8em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      padding: 8px 30px;
      text-align: center;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
      .container .header input[type=submit]:hover {
        box-shadow: 0 0 5px rgba(161, 199, 44, 0.8); }
      .container .header input[type=submit]:active {
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4); }
    .container .header input::-webkit-input-placeholder {
      color: #dbf2ff; }
    .container .header input:-moz-placeholder {
      color: #dbf2ff; }
    .container .header input:-ms-input-placeholder {
      color: #dbf2ff; }
    .container .header label {
      font-size: 0.7em;
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      position: absolute;
      width: 100px;
      left: 35px;
      top: 10px; }
    .container .header input[type=checkbox] {
      background: #10548C;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #343b40;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
      color: #fff;
      width: 20px;
      height: 20px; }
    .container .header input:focus {
      border: 1px solid rgba(161, 199, 44, 0.6);
      box-shadow: 0 0 5px rgba(161, 199, 44, 0.6);
      outline: none; }
    .container .header form.was-validated input:invalid {
      border: 2px solid red;
      transition: 1.5s; }
  .container .main div {
    margin: 5px; }
  .container .main .menu {
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 36px;
    font-family: 'Lobster', cursive;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd; }
    .container .main .menu div:hover {
      box-shadow: inset 0px 0px 5px 3px #483a4680;
      transition: 1s;
      background: #fafbfc;
      cursor: pointer; }
    .container .main .menu .b1 {
      margin: 15px;
      flex: 1; }
      .container .main .menu .b1 i {
        margin-right: 10px; }
  .container .main .content {
    height: 800px;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd; }
    .container .main .content .photo-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 24px;
      font-family: 'Lobster', cursive; }
    .container .main .content .photo-data {
      height: 600px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #f2f2f2; }
      .container .main .content .photo-data .url-root {
        flex: 0.3;
        background: #fff;
        /* necessary to give position: relative to parent. */ }
        .container .main .content .photo-data .url-root :focus {
          outline: none; }
        .container .main .content .photo-data .url-root .col-3 {
          float: left;
          width: 100%;
          position: relative; }
        .container .main .content .photo-data .url-root input[type="text"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .photo-data .url-root input[type="submit"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .photo-data .url-root .effect-7 {
          border: 1px solid #ccc;
          padding: 7px 14px 9px;
          transition: 0.4s; }
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border:before,
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #3399FF;
          transition: 0.4s; }
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border:after {
          top: auto;
          bottom: 0; }
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border i:before,
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border i:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 2px;
          height: 0;
          background-color: #3399FF;
          transition: 0.6s; }
        .container .main .content .photo-data .url-root .effect-7 ~ .focus-border i:after {
          left: auto;
          right: 0; }
        .container .main .content .photo-data .url-root .effect-7:focus ~ .focus-border:before,
        .container .main .content .photo-data .url-root .effect-7:focus ~ .focus-border:after {
          left: 0;
          width: 100%;
          transition: 0.4s; }
        .container .main .content .photo-data .url-root .effect-7:focus ~ .focus-border i:before,
        .container .main .content .photo-data .url-root .effect-7:focus ~ .focus-border i:after {
          top: 0;
          height: 100%;
          transition: 0.6s; }
        .container .main .content .photo-data .url-root form.was-validated input:invalid {
          border: 2px solid red;
          transition: 1.5s; }
        .container .main .content .photo-data .url-root form {
          display: flex;
          margin: 10px;
          flex-direction: column; }
          .container .main .content .photo-data .url-root form .flex {
            display: flex; }
      .container .main .content .photo-data .photo-list {
        flex: 1; }
      .container .main .content .photo-data .photo-root {
        display: flex;
        flex: 4;
        background: #fff;
        margin-top: 0; }
        .container .main .content .photo-data .photo-root .photo-content {
          display: flex;
          flex: 4;
          background: #fff;
          margin: 0 5px 0 5px;
          border-right: 5px solid #f2f2f2; }
        .container .main .content .photo-data .photo-root .newSpan {
          background: #333333;
          color: #FFF;
          font-size: 24px;
          font-family: cursive; }
        .container .main .content .photo-data .photo-root .photo-list {
          flex: 3;
          overflow-x: auto;
          position: relative; }
          .container .main .content .photo-data .photo-root .photo-list .photos {
            padding: 0 20px 10px 20px; }
            .container .main .content .photo-data .photo-root .photo-list .photos .photo-li {
              font-size: 18px;
              font-family: 'Lobster', cursive;
              transition: 1.5s;
              list-style-type: none;
              padding: 10px; }
              .container .main .content .photo-data .photo-root .photo-list .photos .photo-li .fa-close {
                display: none;
                float: right;
                right: 10px;
                cursor: pointer; }
              .container .main .content .photo-data .photo-root .photo-list .photos .photo-li .photo-span:hover {
                border-bottom: 3px solid dimgray;
                cursor: pointer; }
              .container .main .content .photo-data .photo-root .photo-list .photos .photo-li .photo-span {
                font-size: 18px;
                font-family: 'Lobster', cursive; }
                .container .main .content .photo-data .photo-root .photo-list .photos .photo-li .photo-span .span-strong {
                  font-size: 19px;
                  letter-spacing: 1px; }
              .container .main .content .photo-data .photo-root .photo-list .photos .photo-li .fa-close:hover {
                transition: all .3s ease-out;
                transform: rotate(90deg); }
            .container .main .content .photo-data .photo-root .photo-list .photos .photo-li:hover .fa-close {
              display: inline-block; }
      .container .main .content .photo-data .photo {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll; }
        .container .main .content .photo-data .photo .photo-size {
          width: 400px;
          position: relative; }
          .container .main .content .photo-data .photo .photo-size .image {
            width: 100%;
            height: auto;
            border: 5px solid darkgray;
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0; }
    .container .main .content .music-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 24px;
      font-family: 'Lobster', cursive; }
    .container .main .content .music-data {
      height: 700px;
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2; }
      .container .main .content .music-data input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px greenyellow inset; }
      .container .main .content .music-data .url-root {
        flex: 0.3;
        background: #fff;
        /* necessary to give position: relative to parent. */ }
        .container .main .content .music-data .url-root :focus {
          outline: none; }
        .container .main .content .music-data .url-root .col-3 {
          float: left;
          width: 100%;
          position: relative; }
        .container .main .content .music-data .url-root input[type="text"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .music-data .url-root input[type="submit"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .music-data .url-root .effect-7 {
          border: 1px solid #ccc;
          padding: 7px 14px 9px;
          transition: 0.4s; }
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border:before,
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #3399FF;
          transition: 0.4s; }
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border:after {
          top: auto;
          bottom: 0; }
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border i:before,
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border i:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 2px;
          height: 0;
          background-color: #3399FF;
          transition: 0.6s; }
        .container .main .content .music-data .url-root .effect-7 ~ .focus-border i:after {
          left: auto;
          right: 0; }
        .container .main .content .music-data .url-root .effect-7:focus ~ .focus-border:before,
        .container .main .content .music-data .url-root .effect-7:focus ~ .focus-border:after {
          left: 0;
          width: 100%;
          transition: 0.4s; }
        .container .main .content .music-data .url-root .effect-7:focus ~ .focus-border i:before,
        .container .main .content .music-data .url-root .effect-7:focus ~ .focus-border i:after {
          top: 0;
          height: 100%;
          transition: 0.6s; }
        .container .main .content .music-data .url-root form.was-validated input:invalid {
          border: 2px solid red;
          transition: 1.5s; }
      .container .main .content .music-data form {
        display: flex;
        margin: 10px;
        flex-direction: column; }
        .container .main .content .music-data form .flex {
          display: flex; }
      .container .main .content .music-data .music-root {
        display: flex;
        background: #fff;
        flex: 4;
        margin-top: 0; }
        .container .main .content .music-data .music-root .music-list {
          flex: 2;
          border-right: 5px solid #f2f2f2;
          margin: 0 5px 0 5px;
          overflow-x: auto;
          position: relative; }
          .container .main .content .music-data .music-root .music-list .music-ul {
            padding: 0 20px 10px 20px; }
            .container .main .content .music-data .music-root .music-list .music-ul .music-li {
              font-size: 18px;
              font-family: 'Lobster', cursive;
              transition: 1.5s;
              list-style-type: none;
              padding: 10px; }
              .container .main .content .music-data .music-root .music-list .music-ul .music-li .fa-close {
                display: none;
                float: right;
                right: 10px;
                cursor: pointer; }
              .container .main .content .music-data .music-root .music-list .music-ul .music-li .music-span:hover {
                border-bottom: 3px solid dimgray;
                cursor: pointer; }
              .container .main .content .music-data .music-root .music-list .music-ul .music-li .music-span {
                font-size: 19px;
                font-family: 'Lobster', cursive;
                letter-spacing: 1px; }
              .container .main .content .music-data .music-root .music-list .music-ul .music-li .fa-close:hover {
                transition: all .3s ease-out;
                transform: rotate(90deg); }
            .container .main .content .music-data .music-root .music-list .music-ul .music-li:hover .fa-close {
              display: inline-block; }
        .container .main .content .music-data .music-root .music-content {
          flex: 3;
          margin: 0 5px 0 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .container .main .content .music-data .music-root .music-content .music-block {
            flex-direction: column;
            font-size: 24px;
            font-family: 'Lobster', cursive; }
            .container .main .content .music-data .music-root .music-content .music-block .music-image {
              background-size: cover;
              overflow: hidden;
              width: 70%;
              display: flex;
              height: 70%;
              margin: 0 auto; }
              .container .main .content .music-data .music-root .music-content .music-block .music-image img {
                padding: 10px; }
            .container .main .content .music-data .music-root .music-content .music-block .music-play {
              display: flex;
              justify-content: center;
              align-items: center; }
              .container .main .content .music-data .music-root .music-content .music-block .music-play audio {
                background-color: #1d2124;
                flex: 1; }
      .container .main .content .music-data .newSpan {
        background: #333333;
        color: #FFF;
        font-size: 24px;
        font-family: cursive; }
    .container .main .content .film-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 24px;
      font-family: 'Lobster', cursive; }
    .container .main .content .film-data {
      height: 600px;
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2; }
      .container .main .content .film-data .url-root {
        flex: 0.3;
        background: #fff;
        /* necessary to give position: relative to parent. */ }
        .container .main .content .film-data .url-root :focus {
          outline: none; }
        .container .main .content .film-data .url-root .col-3 {
          float: left;
          width: 100%;
          position: relative; }
        .container .main .content .film-data .url-root input[type="text"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .film-data .url-root input[type="submit"] {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px; }
        .container .main .content .film-data .url-root .effect-7 {
          border: 1px solid #ccc;
          padding: 7px 14px 9px;
          transition: 0.4s; }
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border:before,
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #3399FF;
          transition: 0.4s; }
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border:after {
          top: auto;
          bottom: 0; }
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border i:before,
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border i:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 2px;
          height: 0;
          background-color: #3399FF;
          transition: 0.6s; }
        .container .main .content .film-data .url-root .effect-7 ~ .focus-border i:after {
          left: auto;
          right: 0; }
        .container .main .content .film-data .url-root .effect-7:focus ~ .focus-border:before,
        .container .main .content .film-data .url-root .effect-7:focus ~ .focus-border:after {
          left: 0;
          width: 100%;
          transition: 0.4s; }
        .container .main .content .film-data .url-root .effect-7:focus ~ .focus-border i:before,
        .container .main .content .film-data .url-root .effect-7:focus ~ .focus-border i:after {
          top: 0;
          height: 100%;
          transition: 0.6s; }
        .container .main .content .film-data .url-root form.was-validated input:invalid {
          border: 2px solid red;
          transition: 1.5s; }
        .container .main .content .film-data .url-root form {
          display: flex;
          margin: 10px;
          flex-direction: column; }
          .container .main .content .film-data .url-root form .flex {
            display: flex; }
      .container .main .content .film-data .films-root {
        display: flex;
        background: #fff;
        flex: 4;
        margin-top: 0; }
        .container .main .content .film-data .films-root .films-list {
          flex: 1;
          margin: 0 5px 0 5px;
          overflow-x: auto;
          position: relative; }
          .container .main .content .film-data .films-root .films-list .films-ul {
            padding: 0 20px 10px 20px; }
            .container .main .content .film-data .films-root .films-list .films-ul .film-li {
              font-size: 18px;
              font-family: 'Lobster', cursive;
              transition: 1.5s;
              list-style-type: none;
              padding: 10px; }
              .container .main .content .film-data .films-root .films-list .films-ul .film-li .fa-close {
                display: none;
                float: right;
                right: 10px;
                cursor: pointer; }
              .container .main .content .film-data .films-root .films-list .films-ul .film-li .film-span:hover {
                border-bottom: 3px solid dimgray;
                cursor: pointer; }
              .container .main .content .film-data .films-root .films-list .films-ul .film-li .film-span {
                font-size: 19px;
                font-family: 'Lobster', cursive;
                letter-spacing: 1px; }
              .container .main .content .film-data .films-root .films-list .films-ul .film-li .fa-close:hover {
                transition: all .3s ease-out;
                transform: rotate(90deg); }
            .container .main .content .film-data .films-root .films-list .films-ul .film-li:hover .fa-close {
              display: inline-block; }
        .container .main .content .film-data .films-root .films-content {
          display: flex;
          flex: 2;
          background: #fff;
          margin: 0 5px 0 5px;
          border-right: 5px solid #f2f2f2; }
          .container .main .content .film-data .films-root .films-content .films-play {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: -webkit-radial-gradient(center center, #454f56, #1d2124); }
            .container .main .content .film-data .films-root .films-content .films-play .films-name {
              background: #333333;
              color: #FFF;
              font-size: 18px;
              font-family: 'Lobster', cursive; }
            .container .main .content .film-data .films-root .films-content .films-play .films-video {
              width: 100%; }
            .container .main .content .film-data .films-root .films-content .films-play video {
              flex: 1;
              width: 100%; }
      .container .main .content .film-data .newSpan {
        background: #333333;
        color: #FFF;
        font-size: 24px;
        font-family: cursive; }
