html {
  overflow: scroll; }

body {
  margin: 0;
  background: #fafbfc;
  font-size: 14px; }

::-webkit-scrollbar {
  width: 5px;
  background: 0 0; }

::-webkit-scrollbar-button:vertical:end:decrement, ::-webkit-scrollbar-button:vertical:start:increment {
  display: none; }

::-webkit-scrollbar-thumb:vertical {
  -webkit-box-shadow: inset 3px 0 #fff;
  box-shadow: inset 3px 0 #fff;
  background: #00e20f; }

::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

.container {
  display: flex;
  justify-content: center; }
  .container .main {
    width: 950px;
    max-width: 1000px; }
    .container .main div {
      border: 1px solid #ddd;
      margin: 10px; }
    .container .main .header {
      height: 100px;
      display: flex;
      justify-content: flex-end;
      background: #fff; }
    .container .main .menu {
      height: 50px;
      display: flex;
      align-items: center;
      background: #fff;
      font-size: 36px;
      font-family: 'Lobster', cursive;
      justify-content: center;
      text-align: center; }
      .container .main .menu div:hover {
        box-shadow: inset 0 0 0 2px #53ea93;
        transition: 1s;
        background: #fafbfc;
        cursor: pointer; }
      .container .main .menu .b1 {
        margin: 15px;
        flex: 1; }
        .container .main .menu .b1 i {
          margin-right: 10px; }
    .container .main .content {
      height: 700px;
      justify-content: center;
      background: #fff; }
      .container .main .content .music-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; }
      .container .main .content .music-data {
        height: 500px;
        display: flex;
        justify-content: center; }
        .container .main .content .music-data .music-list {
          width: 400px; }
          .container .main .content .music-data .music-list .track-list {
            display: flex;
            align-items: center;
            height: 50px; }
        .container .main .content .music-data .music-content {
          width: 400px; }
          .container .main .content .music-data .music-content .music-image {
            background-size: cover;
            width: 380px;
            height: 300px;
            overflow: hidden; }
          .container .main .content .music-data .music-content .music-play {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 99px; }
      .container .main .content .film-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; }
      .container .main .content .film-data {
        height: 500px;
        display: flex;
        justify-content: center; }
      .container .main .content .photo-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; }
      .container .main .content .photo-data {
        height: 500px;
        display: flex;
        justify-content: center; }
